.footer-wrapper::before,
.footer-wrapper::after {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: "" !important;
}

.footer {
  background-color: #f7f7f7 !important;
  border-top: 1px solid #dddddd !important;

  .container {
    .footer_sec1 {
      padding: 32px 0 !important;
      .row {
        padding: 0 !important;
        margin: 0 !important;

        .col {
          .menu_header {
            color: #222222 !important;
            text-transform: uppercase !important;
            font-size: 12px !important;

            font-weight: bold;
            margin-bottom: 0px !important;
          }

          .menu_list {
            list-style: none !important;
            margin: 0px !important;
            padding: 0px !important;

            .menu_list_item {
              margin-top: 12px !important;
              flex-basis: 33.333333333333336% !important;

              .menu_links {
                color: #222222 !important;
                font-size: 14px !important;
                line-height: 18px !important;
              }
            }
          }
        }
      }
    }
    .footer_sec2 {
      padding-top: 24px !important;
      padding-bottom: 24px !important;
      border-top: 1px solid #dddddd !important;

      .row {
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;

        .lang-currency {
          .lang-currency-item:not(:last-child) {
            margin-right: 24px !important;
          }

          .lang-currency-link {
            font-family: inherit !important;
            font-weight: inherit !important;
            font-style: inherit !important;
            font-variant: inherit !important;
            font-size: 14px !important;
            line-height: 18px !important;
            color: #222222 !important;
            display: -webkit-box !important;
            display: -moz-box !important;
            display: -ms-flexbox !important;
            display: -webkit-flex !important;
            display: flex !important;
            white-space: nowrap !important;
            text-decoration: none !important;
          }
        }

        .socials {
          -webkit-flex: 1 1 0% !important;
          -ms-flex: 1 1 0% !important;
          flex: 1 1 0% !important;
          .border-box {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -ms-flex: 0 1 auto;

            .copyright-container {
              -webkit-box-direction: normal !important;
              -webkit-box-orient: vertical !important;
              display: -webkit-box !important;
              display: -moz-box !important;
              display: -ms-flexbox !important;
              display: -webkit-flex !important;
              display: flex !important;
              -webkit-flex-direction: column !important;
              -ms-flex-direction: column !important;
              flex-direction: column !important;
            }
            .privacy-container {
              .dot {
                display: inline-block !important;
                text-align: center !important;
                width: 19px !important;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      .footer_sec1 {
        padding: 32px 0 !important;
        .row {
          padding: 0 !important;
          margin: 0 !important;
          .col:not(:last-child) {
            padding-bottom: 24px !important;
            margin-bottom: 24px !important;
            border-bottom: 1px solid #dddddd !important;
          }
          .col {
            .menu_header {
              color: #222222 !important;
              text-transform: uppercase !important;
              font-size: 12px !important;

              font-weight: bold;
              margin-bottom: 0px !important;
            }

            .menu_list {
              list-style: none !important;
              margin: 0px !important;
              padding: 0px !important;

              .menu_list_item {
                margin-top: 12px !important;
                flex-basis: 33.333333333333336% !important;

                .menu_links {
                  color: #222222 !important;
                  font-size: 14px !important;
                  line-height: 18px !important;
                }
              }
            }
          }
        }
      }
      .footer_sec2 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        border-top: 1px solid #dddddd !important;
        .row {
          -webkit-box-align: center !important;
          -ms-flex-align: center !important;
          -webkit-align-items: center !important;
          align-items: center !important;
          text-align: center !important;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .container {
      .footer_sec1 {
        padding: 32px 0 !important;
        .row {
          padding: 0 !important;
          margin: 0 !important;

          .col {
            .menu_header {
              color: #222222 !important;
              text-transform: uppercase !important;
              font-size: 12px !important;

              font-weight: bold;
              margin-bottom: 0px !important;
            }

            .menu_list {
              list-style: none !important;
              margin: 0px !important;
              padding: 0px !important;

              .menu_list_item {
                margin-top: 12px !important;
                flex-basis: 33.333333333333336% !important;

                .menu_links {
                  color: #222222 !important;
                  font-size: 14px !important;
                  line-height: 18px !important;
                }
              }
            }
          }
        }
      }
      .footer_sec2 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        border-top: 1px solid #dddddd !important;

        .row {
          -webkit-box-pack: justify !important;
          -webkit-box-align: stretch !important;
          -webkit-box-direction: reverse !important;
          -webkit-box-orient: horizontal !important;
          text-align: left !important;
          flex-direction: row-reverse !important;
          align-items: stretch !important;
          justify-content: space-between !important;
        }
      }
    }
  }
}
